@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-light-yellow: '#FAE3B8';
    --color-dark-yellow:'#9D7945';
    --color-wpp-green:'#25d366';
}

html{
  font-family:'DM Sans', 'sans-serif';
}